@charset "utf-8";
/*
Template Name: Devenna
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.5.0.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:30px 0;}

#header #logo{margin-top:8px; font-variant:small-caps;}
#header #logo h1{margin:0; padding:0; font-size:26px;}

#header #quickinfo{font-size:.8rem; text-transform:uppercase;}
#header #quickinfo li{margin-right:50px;}
#header #quickinfo li:last-child{margin-right:0;}
#header #quickinfo strong{display:block; margin:0 0 -5px 0; padding:0; font-size:.9rem;}
#header #quickinfo br{display:none;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:150px 0;}

#pageintro .introtxt{display:block; max-width:50%;}
#pageintro .introtxt .heading{margin-bottom:30px; font-size:42px;}
#pageintro .introtxt p{margin-bottom:30px; font-size:24px; line-height:normal;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

#testimonials{}
#testimonials li{}
#testimonials li figure{margin-bottom:20px;}
#testimonials li figure img{float:left; margin-right:15px; border-radius:50%;}
#testimonials li figure figcaption{float:left; margin:15px 0 0 0;}
#testimonials li figure figcaption *{display:block; margin:0; padding:0; line-height:1;}
#testimonials li figure figcaption strong{margin-bottom:5px;}
#testimonials li figure figcaption br{display:none;}
#testimonials li figure figcaption em{font-size:.8rem;}
#testimonials li blockquote{display:block; position:relative; width:100%; margin:0; padding:30px 0 0 0; line-height:1.4; z-index:1;}
#testimonials li blockquote::before{display:block; position:absolute; top:0; left:0; font-family:"FontAwesome"; font-size:60px; content:"\f10d"; z-index:-1;}

#newsletter input, #newsletter button{border:1px solid;}
#newsletter input{display:block; width:100%; padding:8px;}
#newsletter button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Full Width Split Box
--------------------------------------------------------------------------------------------------------------- */
.split{display:block; width:100%; background-position:top right; background-repeat:no-repeat; background-size:cover;}

.split .box{display:block; float:left; width:50%; padding:8% 4%;}
.split .box #logos{max-width:75%; margin:0 auto;}
.split .box #logos li{display:inline-block; margin:0 10px 10px 0;}
.split .box #logos li:nth-child(n+4){margin-bottom:0;}
.split .box #logos li a img{opacity:.8;}
.split .box #logos li a:hover img{opacity:1;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .title{margin:0 0 50px 0; padding:0; font-size:1.2rem; text-transform:uppercase;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 2px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:inline-block; width:30px; height:30px; line-height:30px; font-size:14px; text-align:center;}
.faico a{color:inherit; background-color:transparent;}

.faicon-dribble:hover{color:#EA4C89;}
.faicon-facebook:hover{color:#3B5998;}
.faicon-google-plus:hover{color:#DB4A39;}
.faicon-linkedin:hover{color:#0E76A8;}
.faicon-pinterest:hover{color:#C8232C;}
.faicon-rss:hover{color:#EE802F;}
.faicon-twitter:hover{color:#00ACEE;}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#B0B0B0; background-color:#333335;}
a{color:#E84C3D;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#E84C3D;}
.overlay{color:black;}
.overlay::after{color:inherit; background-color:rgba(51,51,53,.65);/* #333335 */}
.spacer::after{background-color:#D7D7D7;}

.icon{border-color:#D7D7D7;}
article:hover .icon{border-color:inherit; color:#FFFFFF; background-color:#333335;}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#E84C3D; border-color:#E84C3D;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}


/* Rows */
.row0{color:#FFFFFF; background-color:#44494C;}
.row1{color:#333335; background-color:#FFFFFF;}
.row2{color:#333335; background-color:#F3F3F3;}
.row3{color:#333335; background-color:#FFFFFF;}
.row4{color:#B0B0B0; background-color:#44494C;}
.row5, .row5 a{color:#B0B0B0; background-color:#333335;}


/* Header */
#header #logo *{color:inherit;}


/* Page Intro */
#pageintro .btn.inverse{color:#E84C3D; background-color:#FFFFFF; border-color:#FFFFFF;}
#pageintro .btn.inverse:hover{color:#FFFFFF; background-color:#E84C3D; border-color:#E84C3D;}


/* Content Area */
#testimonials li blockquote::before{color:rgba(255,255,255,.2);}

#newsletter input, #newsletter button{color:#333335; border-color:#D7D7D7;}
#newsletter input{background-color:#FFFFFF;}
#newsletter input:focus{border-color:#E84C3D;}
#newsletter button{color:#FFFFFF; background-color:#E84C3D;}


/* Full Width Split Box */
.split.light{color:#333335; background-color:rgba(243,243,243,1);/* #F3F3F3 */}/* Changes in mediaqueries */
.split .box{background-color:inherit;}


/* Footer */
#footer .title{color:#FFFFFF;}
#footer .linklist li{border-color:#333335;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#E84C3D; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#E84C3D;}
#mainav form select{color:#FFFFFF; background-color:#333335;}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:#E84C3D;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#E84C3D;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#E84C3D;}

#backtotop{color:#FFFFFF; background-color:#E84C3D;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#E84C3D;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (min-width:750px) and (max-width:1200px){
	.split .box #logos li:nth-child(n+4){margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar .faico{margin:0 0 15px 0; text-align:center;}
	#topbar .faico li{display:inline-block; float:none; margin:0 2px 0 0;}

	#header{text-align:center;}
	#header #logo{margin:0 0 30px 0;}

	#pageintro{}
	#pageintro .introtxt{max-width:none;}
	#pageintro .introtxt .heading{font-size:36px;}

	.split{}
	.split .box{float:none; width:100%;}
	.split.light{background-color:rgba(243,243,243,.8);/* #F3F3F3 */}

	.container, #footer{padding-bottom:50px;}/* not neccessary but looks better */
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#header #quickinfo li{display:block; margin-right:0;}

	.split .box #logos li:nth-child(n+4){margin-bottom:10px;}
}